In [21]:
from sqlalchemy import create_engine, inspect

import sqlalchemy
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt

In [22]:
database_path = "worldcupdb.sqlite"
conn_string = f"sqlite:///{database_path}"

# Create an engine that can talk to the database
engine = create_engine(conn_string)

In [23]:
# get all tables
inspector_gadget = inspect(engine)
tables = inspector_gadget.get_table_names()
for table in tables:
    print(table)
    
    # get all columns in table
    columns = inspector_gadget.get_columns(table)
    for column in columns:
        print(column)
    print()

In [24]:
group = '"R8", "R16", "Semis", "Finals"'
team1 = '"France", "Tunisia", "Australia", "Poland", "Denmark", "Argentina","Saudi Arabia", "Mexico", "Senegal", "Ecuador", "Netherlands", "Qatar", "England", "Portugal", "Germany", "Iran", "South Korea", "Morocco", "Belgium", "Japan", "Brazil", "Switzerland", "Cameroon", "Spain", "Croatia", "Canada", "Serbia", "Costa Rica"'
con = engine.connect()

query = f"""
        SELECT
            *
        FROM
            worldcupdb
        WHERE
            Squad1 = 'United States'
            AND Squad2 in ({team1})
            AND Groups in ({group})
        """
print(query)
testdf2 = pd.read_sql(query, con)
testdf2.head()

        SELECT
            *
        FROM
            worldcupdb
        WHERE
            Squad1 = 'United States'
            AND Squad2 in ("France", "Tunisia", "Australia", "Poland", "Denmark", "Argentina","Saudi Arabia", "Mexico", "Senegal", "Ecuador", "Netherlands", "Qatar", "England", "Portugal", "Germany", "Iran", "South Korea", "Morocco", "Belgium", "Japan", "Brazil", "Switzerland", "Cameroon", "Spain", "Croatia", "Canada", "Serbia", "Costa Rica")
            AND Groups in ("R8", "R16", "Semis", "Finals")

OperationalError: (sqlite3.OperationalError) no such table: worldcupdb
[SQL:
        SELECT
            *
        FROM
            worldcupdb
        WHERE
            Squad1 = 'United States'
            AND Squad2 in ("France", "Tunisia", "Australia", "Poland", "Denmark", "Argentina","Saudi Arabia", "Mexico", "Senegal", "Ecuador", "Netherlands", "Qatar", "England", "Portugal", "Germany", "Iran", "South Korea", "Morocco", "Belgium", "Japan", "Brazil", "Switzerland", "Cameroon", "Spain", "Croatia", "Canada", "Serbia", "Costa Rica")
            AND Groups in ("R8", "R16", "Semis", "Finals")
        ]
(Background on this error at: https://sqlalche.me/e/14/e3q8)