In [1]:
#Imports

import pickle
import numpy as np
import pandas as pd

with open('group_results.pickle', 'rb') as file:
    group_dict = pickle.load(file)
    
squad_predictions = pd.read_csv(r'CSVs\Predictions\Squad_Strength_Final.csv', encoding='latin-1')

In [2]:
# Dataframe adjustments and Dictionary Creation
squad_predictions.drop(['Group'], axis=1, inplace=True)
squad_strength_dict = squad_predictions.T.to_dict('dict')
squad_list = squad_predictions['Squad'].to_dict()

In [ ]:
type(squad_predictions['Squad'])

In [3]:
def get_key(val):
    for key, value in squad_list.items():
        if val == value:
            return key

In [4]:
team1 = 'Qatar'
team2 = 'Iran'

In [5]:
np.random.seed(22)
num_sims = 1000

In [28]:
squad_strength_dict

{0: {'Squad': 'Qatar',
  'xGS': 1.4717311945990366,
  'xGA': 1.0457861860965494,
  '% of Points Taken': 0.6010889696172896},
 1: {'Squad': 'Iran',
  'xGS': 1.5206215551013722,
  'xGA': 0.7594128787171791,
  '% of Points Taken': 0.697029989208942},
 2: {'Squad': 'South Korea',
  'xGS': 1.4705959439177083,
  'xGA': 0.6463785196922208,
  '% of Points Taken': 0.7283852252752075},
 3: {'Squad': 'Japan',
  'xGS': 1.5855921549457537,
  'xGA': 1.1521382928602435,
  '% of Points Taken': 0.5946461185980861},
 4: {'Squad': 'Saudi Arabia',
  'xGS': 1.1779602458118204,
  'xGA': 0.7650932382978416,
  '% of Points Taken': 0.6266449554239172},
 5: {'Squad': 'Australia',
  'xGS': 1.7580874591210671,
  'xGA': 0.9765950303045832,
  '% of Points Taken': 0.6694042296891612},
 6: {'Squad': 'Ghana',
  'xGS': 0.7475156339320066,
  'xGA': 0.7962572200514713,
  '% of Points Taken': 0.48105895195737},
 7: {'Squad': 'Senegal',
  'xGS': 1.4492380221496155,
  'xGA': 0.5341929926409514,
  '% of Points Taken': 0.7681052591852667},
 8: {'Squad': 'Tunisia',
  'xGS': 1.0729974352293008,
  'xGA': 0.6427868965700877,
  '% of Points Taken': 0.6490526723989217},
 9: {'Squad': 'Cameroon',
  'xGS': 1.2447218458117606,
  'xGA': 0.5776420200308354,
  '% of Points Taken': 0.7152978817357106},
 10: {'Squad': 'Morocco',
  'xGS': 1.514195896847415,
  'xGA': 0.4939295959220707,
  '% of Points Taken': 0.7931955609918435},
 11: {'Squad': 'Canada',
  'xGS': 1.8301930147654208,
  'xGA': 1.1639512000150545,
  '% of Points Taken': 0.6325381919560558},
 12: {'Squad': 'Mexico',
  'xGS': 1.8203909501014408,
  'xGA': 0.7069713662341133,
  '% of Points Taken': 0.7567567102263658},
 13: {'Squad': 'United States',
  'xGS': 1.6669379218297091,
  'xGA': 0.876978414638292,
  '% of Points Taken': 0.6836752213418587},
 14: {'Squad': 'Costa Rica',
  'xGS': 1.1342867415850968,
  'xGA': 1.039307472332269,
  '% of Points Taken': 0.5262107808409711},
 15: {'Squad': 'Brazil',
  'xGS': 1.8480810265688228,
  'xGA': 0.5351122824727477,
  '% of Points Taken': 0.8156744452581934},
 16: {'Squad': 'Argentina',
  'xGS': 1.5222678598860115,
  'xGA': 0.7125878198515901,
  '% of Points Taken': 0.7131769365295317},
 17: {'Squad': 'Ecuador',
  'xGS': 1.100618735501271,
  'xGA': 1.088802003855314,
  '% of Points Taken': 0.5032383034329192},
 18: {'Squad': 'Uruguay',
  'xGS': 1.2405811605677517,
  'xGA': 1.0549040311510594,
  '% of Points Taken': 0.54848619952249},
 19: {'Squad': 'Germany',
  'xGS': 2.634661785815135,
  'xGA': 0.7457954659965638,
  '% of Points Taken': 0.8197227828307547},
 20: {'Squad': 'Denmark',
  'xGS': 2.09956276509866,
  'xGA': 0.7362782223282431,
  '% of Points Taken': 0.7785871019181405},
 21: {'Squad': 'Belgium',
  'xGS': 2.429895599771159,
  'xGA': 0.6540772413429496,
  '% of Points Taken': 0.8284744476959994},
 22: {'Squad': 'France',
  'xGS': 1.8473934403103804,
  'xGA': 0.6423015264647943,
  '% of Points Taken': 0.7803603815008513},
 23: {'Squad': 'Croatia',
  'xGS': 1.807317977080308,
  'xGA': 0.8935792372023863,
  '% of Points Taken': 0.6995670575552531},
 24: {'Squad': 'Spain',
  'xGS': 2.182467017302208,
  'xGA': 0.5924345297732063,
  '% of Points Taken': 0.8270360319558283},
 25: {'Squad': 'Serbia',
  'xGS': 2.016305754487616,
  'xGA': 1.0694873598266257,
  '% of Points Taken': 0.6815502055643873},
 26: {'Squad': 'England',
  'xGS': 2.243788327703092,
  'xGA': 0.604073657277876,
  '% of Points Taken': 0.8284482998923528},
 27: {'Squad': 'Switzerland',
  'xGS': 1.764158347517899,
  'xGA': 0.9278359936549172,
  '% of Points Taken': 0.6837563792111145},
 28: {'Squad': 'Netherlands',
  'xGS': 2.4548423901072223,
  'xGA': 0.5886784474604497,
  '% of Points Taken': 0.847292970427077},
 29: {'Squad': 'Portugal',
  'xGS': 2.27323565152516,
  'xGA': 0.7636734018604361,
  '% of Points Taken': 0.7873429478698413},
 30: {'Squad': 'Poland',
  'xGS': 1.514732025336837,
  'xGA': 0.9385454498336998,
  '% of Points Taken': 0.6397766893269291},
 31: {'Squad': 'Wales',
  'xGS': 1.3342312912328658,
  'xGA': 1.150965909346021,
  '% of Points Taken': 0.5442103817849258}}

In [65]:
#get_key function to return Team number when given a key (team name)

def get_key(val):
    for key, value in squad_list.items():
        if val == value:
            return key

#This needs to be a dynamic variable that the user can pick from

team1 = 'Qatar'
team2 = 'Iran'    
        
#Simulation Setup

np.random.seed(22)
num_sims = 10000
    
# Need to calculate Match probability given two teams
        
def matchup_simulator(team1, team2):
    
#     # Get team numbers for dictionary reference
    team1_number = get_key(team1)
    team2_number = get_key(team2)
    
    # Get Squad Percentages
    S1_percent = squad_strength_dict[team1_number]['% of Points Taken']
    S2_percent = squad_strength_dict[team2_number]['% of Points Taken']
    
    # Calculating Probability that S1 wins given the two squad percentages S2_prob = 1 - S1_prob
    
    S1_prob = ((S1_percent - (S1_percent*S2_percent)) / (S1_percent + S2_percent - (2 * S1_percent * S2_percent)))
    
    # Simulating match num_sims times, returns an array of 0 and 1, 1 = squad one wins
    
    match_results = np.random.binomial(n=1, p = S1_prob, size = num_sims)
    
    # Wins per num_sims
    
    S1_win_percent = np.mean(match_results)
    
    print(f"{team1} Wins{S1_win_percent: .2%} of the time against {team2} across {num_sims} simulations.")

In [66]:
matchup_simulator('United States', 'Tunisia')

United States Wins 53.55% of the time against Tunisia across 10000 simulations.

In [11]:
S1_win_percent

NameError: name 'S1_win_percent' is not defined

In [ ]:
np.random.binomial(n=1, p = S1_prob, size = num_sims)

In [ ]:
squad_strength_dict[team1_number]

In [ ]:
# Get team numbers for dictionary reference
team1_number = get_key(team1)
team2_number = get_key(team2)
    
    # Get Squad Percentages
S1_percent = squad_strength_dict[team1_number]
S2_percent = squad_strength_dict[team2_number]
    
    # Calculating Probability that S1 wins given the two squad percentages S2_prob = 1 - S1_prob
    
S1_prob = ((S1_percent - (S1_percent*S2_percent)) / (S1_percent + S2_percent - (2 * S1_percent * S2_percent)))
    
# Simulating match num_sims times, returns an array of 0 and 1, 1 = squad one wins
    
match_results = np.random.binomial(n=1, p = S1_prob, size = num_sims)
    
    # Wins per num_sims
    
S1_win_percent = np.mean(match_results)

In [ ]:
S1_percent = squad_strength_dict[team1_number]

In [ ]:
S1_win_percent

In [ ]:
squad_strength_dict[team1_number]['% of Points Taken']

In [ ]:
team1_number = get_key(team1)
team2_number = get_key(team2)

In [ ]:
 team1_number = get_key(team1)

In [ ]:
team1_number

In [ ]:
print(matchup_simulator('United States','England'))

In [ ]:
squad_strength_dict

In [ ]:
S1_prob

In [44]:
match_results

NameError: name 'match_results' is not defined

In [ ]:
np.mean(match_results[0:1])

In [ ]:
match_results[0:1]

In [ ]:
x = 5

In [ ]:
6 % 5

In [ ]:
range(num_sims)

In [ ]:
count = 1

In [ ]:
np.mean(match_results)

In [ ]:
for x in range()

In [ ]:
squad_predictions

In [ ]:
group_dict = new_list

In [45]:
world_cup_teams = pd.read_csv(r'CSVs\World_Cup_Teams.csv', encoding='latin-1')

In [48]:
win_list = []

In [47]:
points_list = []

In [49]:
for i in range(len(world_cup_teams)):
    points_avg = sum(group_dict[i]['points']) / 100000
    points_list.append(points_avg)

In [ ]:
points_list

In [50]:
sum(group_dict[1]['wins'])/100000

1.49533

In [51]:
for i in range(len(world_cup_teams)):
    win_avg = sum(group_dict[i]['wins']) / 100000
    win_list.append(win_avg)

In [52]:
world_cup_teams['Avg. Group Stage Points'] = points_list

In [53]:
world_cup_teams['Avg. Group Stage Wins'] = win_list

In [ ]:
group_dict[0]

In [54]:
final_group_table = world_cup_teams.sort_values(by='Avg. Group Stage Points', ascending = False)

In [ ]:
final_group_table.loc(final_group_table['Group'] == 'E'

In [56]:
final_group_table.drop(['Date qualified', 'Key Competition', 'Key'], axis=1, inplace = True)

In [57]:
final_group_table

,Squad,Association,Group,Avg. Group Stage Points,Avg. Group Stage Wins
28,Netherlands,UEFA,A,6.76263,2.25421
26,England,UEFA,B,6.50892,2.16964
29,Portugal,UEFA,H,6.40248,2.13416
24,Spain,UEFA,E,6.26718,2.08906
19,Germany,UEFA,E,6.14520,2.04840
15,Brazil,CONMEBOL,G,5.94234,1.98078
21,Belgium,UEFA,F,5.90847,1.96949
2,South Korea,AFC,H,5.55603,1.85201
12,Mexico,CONCACAF,C,5.52792,1.84264
7,Senegal,CAF,A,5.49564,1.83188
22,France,UEFA,D,5.40030,1.80010
20,Denmark,UEFA,D,5.35530,1.78510
10,Morocco,CAF,F,5.25909,1.75303
16,Argentina,CONMEBOL,C,4.87338,1.62446
1,Iran,AFC,B,4.48599,1.49533
9,Cameroon,CAF,G,4.32573,1.44191
13,United States,CONCACAF,B,4.31502,1.43834
27,Switzerland,UEFA,G,3.88155,1.29385
30,Poland,UEFA,C,3.87096,1.29032
25,Serbia,UEFA,G,3.85038,1.28346
23,Croatia,UEFA,F,3.83700,1.27900
5,Australia,AFC,D,3.74133,1.24711
4,Saudi Arabia,AFC,C,3.72774,1.24258
8,Tunisia,CAF,D,3.50307,1.16769
0,Qatar,AFC,A,3.37014,1.12338
18,Uruguay,CONMEBOL,H,3.36942,1.12314
3,Japan,AFC,E,3.13491,1.04497
11,Canada,CONCACAF,F,2.99544,0.99848
31,Wales,UEFA,B,2.69007,0.89669
6,Ghana,CAF,H,2.67207,0.89069
14,Costa Rica,CONCACAF,E,2.45271,0.81757
17,Ecuador,CONMEBOL,A,2.37159,0.79053

In [85]:
final_group_table.to_csv('final_group_table.csv',index=False)

In [58]:
group_labels = ['A','B','C','D','E','F','G','H']

In [ ]:
print(f"'{groups[2]}'")

In [63]:
with open('final_table.pickle', 'wb') as file:
    pickle.dump(final_group_table, file)

In [59]:
group_tables = []

In [ ]:
group_tables

In [62]:
type(group_tables)

list

In [61]:
group_tables[6]

,Squad,Association,Group,Avg. Group Stage Points,Avg. Group Stage Wins
15,Brazil,CONMEBOL,G,5.94234,1.98078
9,Cameroon,CAF,G,4.32573,1.44191
27,Switzerland,UEFA,G,3.88155,1.29385
25,Serbia,UEFA,G,3.85038,1.28346

In [68]:
group_tables[0]

,Squad,Association,Group,Avg. Group Stage Points,Avg. Group Stage Wins
28,Netherlands,UEFA,A,6.76263,2.25421
7,Senegal,CAF,A,5.49564,1.83188
0,Qatar,AFC,A,3.37014,1.12338
17,Ecuador,CONMEBOL,A,2.37159,0.79053

In [60]:
for i in range(len(group_labels)):
    group_table = final_group_table.loc[(final_group_table['Group'] == group_labels[i])]
    group_tables.append(group_table)

In [ ]:
win_list

In [ ]:
import pandas as pd

In [70]:
final_match_sims = pd.read_csv(r'CSVs\Predictions\all_knockout_matches.csv' , encoding ='latin-1')

In [ ]:
final_match_sims.loc([''])

In [81]:
squad_2_teams = final_match_sims.groupby('Group')['Squad 2'].value_counts()

In [83]:
squad_2_teams.to_csv('squad_2_teams.csv')

In [ ]:
group_dict

In [ ]:
match_sim_cleaned = final_match_sims.drop(['Stage','Squad 1 Key', 'Squad 2 Key', 'S1_wins'], axis=1).copy()

In [ ]:
match_sim_cleaned.shape

In [ ]:
import numpy as np

In [ ]:
 US_Matches = match_sim_cleaned.loc[(match_sim_cleaned['Squad 1'] == 'United States') | (match_sim_cleaned['Squad 2'] == 'United States')]

In [ ]:
US_Matches['Opponent'] = np.where(US_Matches['Squad 1'] == 'United States', US_Matches['Squad 2'], US_Matches['Squad 1'])

In [ ]:
US_Matches.drop(['Test'], axis=1, inplace=True)

In [ ]:
US_Matches

In [ ]:
final_match_sims.groupby("Match Winner").size()

In [ ]:
US_Matches

In [ ]:
US_Opponent_Frequency = US_Matches.groupby('Group')['Opponent'].value_counts()

In [ ]:
US_Opponent_Frequency

In [ ]:
US_Matches['Opponent'].value_counts()

In [ ]:
US_Matches['Opponent'].value_counts(ascending=False)

In [91]:
final_results = pd.read_csv('CSVs/final_results.csv')

In [92]:
import json

In [94]:
final_results_json = final_results.to_json(orient="index")

In [96]:
parsed = json.loads(final_results_json)

In [99]:
final = json.dumps(parsed)

In [102]:
with open("match_results.json","w") as outfile:
    outfile.write(final)