In [1]:
#Imports

import pickle
import numpy as np
import pandas as pd

with open('group_results.pickle', 'rb') as file:
    group_dict = pickle.load(file)
    
squad_predictions = pd.read_csv(r'CSVs\Predictions\Predictions_8-21.csv', encoding='latin-1')

In [ ]:
# Dataframe adjustments and Dictionary Creation
squad_predictions.drop(['Group'], axis=1, inplace=True)
squad_strength_dict = squad_predictions.T.to_dict('dict')
squad_list = squad_predictions['Squad'].to_dict()

In [2]:
group_dict

[{'team': 'Qatar',
  'group': 'A',
  'team_percent': 0.6010889696172896,
  'wins': array([1, 3, 1, ..., 2, 1, 0]),
  'points': array([3, 9, 3, ..., 6, 3, 0])},
 {'team': 'Iran',
  'group': 'B',
  'team_percent': 0.697029989208942,
  'wins': array([2, 2, 1, ..., 1, 0, 0]),
  'points': array([6, 6, 3, ..., 3, 0, 0])},
 {'team': 'South Korea',
  'group': 'H',
  'team_percent': 0.7283852252752075,
  'wins': array([2, 3, 1, ..., 1, 2, 2]),
  'points': array([6, 9, 3, ..., 3, 6, 6])},
 {'team': 'Japan',
  'group': 'E',
  'team_percent': 0.5946461185980861,
  'wins': array([1, 2, 0, ..., 2, 0, 0]),
  'points': array([3, 6, 0, ..., 6, 0, 0])},
 {'team': 'Saudi Arabia',
  'group': 'C',
  'team_percent': 0.6266449554239172,
  'wins': array([3, 1, 3, ..., 0, 1, 2]),
  'points': array([9, 3, 9, ..., 0, 3, 6])},
 {'team': 'Australia',
  'group': 'D',
  'team_percent': 0.6694042296891612,
  'wins': array([1, 1, 0, ..., 1, 0, 2]),
  'points': array([3, 3, 0, ..., 3, 0, 6])},
 {'team': 'Ghana',
  'group': 'H',
  'team_percent': 0.48105895195737,
  'wins': array([1, 0, 0, ..., 1, 0, 0]),
  'points': array([3, 0, 0, ..., 3, 0, 0])},
 {'team': 'Senegal',
  'group': 'A',
  'team_percent': 0.7681052591852667,
  'wins': array([2, 1, 2, ..., 1, 3, 2]),
  'points': array([6, 3, 6, ..., 3, 9, 6])},
 {'team': 'Tunisia',
  'group': 'D',
  'team_percent': 0.6490526723989217,
  'wins': array([2, 1, 1, ..., 2, 2, 1]),
  'points': array([6, 3, 3, ..., 6, 6, 3])},
 {'team': 'Cameroon',
  'group': 'G',
  'team_percent': 0.7152978817357106,
  'wins': array([0, 0, 1, ..., 2, 1, 1]),
  'points': array([0, 0, 3, ..., 6, 3, 3])},
 {'team': 'Morocco',
  'group': 'F',
  'team_percent': 0.7931955609918435,
  'wins': array([2, 1, 1, ..., 2, 3, 1]),
  'points': array([6, 3, 3, ..., 6, 9, 3])},
 {'team': 'Canada',
  'group': 'F',
  'team_percent': 0.6325381919560558,
  'wins': array([1, 1, 1, ..., 0, 0, 1]),
  'points': array([3, 3, 3, ..., 0, 0, 3])},
 {'team': 'Mexico',
  'group': 'C',
  'team_percent': 0.7567567102263658,
  'wins': array([1, 1, 2, ..., 3, 3, 2]),
  'points': array([3, 3, 6, ..., 9, 9, 6])},
 {'team': 'United States',
  'group': 'B',
  'team_percent': 0.6836752213418587,
  'wins': array([2, 0, 2, ..., 2, 3, 2]),
  'points': array([6, 0, 6, ..., 6, 9, 6])},
 {'team': 'Costa Rica',
  'group': 'E',
  'team_percent': 0.5262107808409711,
  'wins': array([1, 0, 2, ..., 1, 1, 2]),
  'points': array([3, 0, 6, ..., 3, 3, 6])},
 {'team': 'Brazil',
  'group': 'G',
  'team_percent': 0.8156744452581934,
  'wins': array([3, 3, 0, ..., 3, 2, 2]),
  'points': array([9, 9, 0, ..., 9, 6, 6])},
 {'team': 'Argentina',
  'group': 'C',
  'team_percent': 0.7131769365295317,
  'wins': array([0, 2, 0, ..., 2, 1, 1]),
  'points': array([0, 6, 0, ..., 6, 3, 3])},
 {'team': 'Ecuador',
  'group': 'A',
  'team_percent': 0.5032383034329192,
  'wins': array([0, 0, 1, ..., 1, 1, 2]),
  'points': array([0, 0, 3, ..., 3, 3, 6])},
 {'team': 'Uruguay',
  'group': 'H',
  'team_percent': 0.54848619952249,
  'wins': array([1, 1, 2, ..., 1, 2, 1]),
  'points': array([3, 3, 6, ..., 3, 6, 3])},
 {'team': 'Germany',
  'group': 'E',
  'team_percent': 0.8197227828307547,
  'wins': array([3, 2, 2, ..., 2, 2, 1]),
  'points': array([9, 6, 6, ..., 6, 6, 3])},
 {'team': 'Denmark',
  'group': 'D',
  'team_percent': 0.7785871019181405,
  'wins': array([2, 3, 2, ..., 1, 1, 1]),
  'points': array([6, 9, 6, ..., 3, 3, 3])},
 {'team': 'Belgium',
  'group': 'F',
  'team_percent': 0.8284744476959994,
  'wins': array([2, 2, 3, ..., 2, 1, 3]),
  'points': array([6, 6, 9, ..., 6, 3, 9])},
 {'team': 'France',
  'group': 'D',
  'team_percent': 0.7803603815008513,
  'wins': array([1, 1, 3, ..., 2, 3, 2]),
  'points': array([3, 3, 9, ..., 6, 9, 6])},
 {'team': 'Croatia',
  'group': 'F',
  'team_percent': 0.6995670575552531,
  'wins': array([1, 2, 1, ..., 2, 2, 1]),
  'points': array([3, 6, 3, ..., 6, 6, 3])},
 {'team': 'Spain',
  'group': 'E',
  'team_percent': 0.8270360319558283,
  'wins': array([1, 2, 2, ..., 1, 3, 3]),
  'points': array([3, 6, 6, ..., 3, 9, 9])},
 {'team': 'Serbia',
  'group': 'G',
  'team_percent': 0.6815502055643873,
  'wins': array([1, 2, 2, ..., 0, 2, 1]),
  'points': array([3, 6, 6, ..., 0, 6, 3])},
 {'team': 'England',
  'group': 'B',
  'team_percent': 0.8284482998923528,
  'wins': array([2, 3, 2, ..., 3, 2, 3]),
  'points': array([6, 9, 6, ..., 9, 6, 9])},
 {'team': 'Switzerland',
  'group': 'G',
  'team_percent': 0.6837563792111145,
  'wins': array([2, 1, 3, ..., 1, 1, 2]),
  'points': array([6, 3, 9, ..., 3, 3, 6])},
 {'team': 'Netherlands',
  'group': 'A',
  'team_percent': 0.847292970427077,
  'wins': array([3, 2, 2, ..., 2, 1, 2]),
  'points': array([9, 6, 6, ..., 6, 3, 6])},
 {'team': 'Portugal',
  'group': 'H',
  'team_percent': 0.7873429478698413,
  'wins': array([2, 2, 3, ..., 3, 2, 3]),
  'points': array([6, 6, 9, ..., 9, 6, 9])},
 {'team': 'Poland',
  'group': 'C',
  'team_percent': 0.6397766893269291,
  'wins': array([2, 2, 1, ..., 1, 1, 1]),
  'points': array([6, 6, 3, ..., 3, 3, 3])},
 {'team': 'Wales',
  'group': 'B',
  'team_percent': 0.5442103817849258,
  'wins': array([0, 1, 1, ..., 0, 1, 1]),
  'points': array([0, 3, 3, ..., 0, 3, 3])}]

In [ ]:
type(squad_predictions['Squad'])

In [ ]:
def get_key(val):
    for key, value in squad_list.items():
        if val == value:
            return key

In [ ]:
team1 = 'Qatar'
team2 = 'Iran'

In [ ]:
np.random.seed(22)
num_sims = 1000

In [ ]:
squad_strength_dict

In [ ]:
#get_key function to return Team number when given a key (team name)

def get_key(val):
    for key, value in squad_list.items():
        if val == value:
            return key

#This needs to be a dynamic variable that the user can pick from

team1 = 'Qatar'
team2 = 'Iran'    
        
#Simulation Setup

np.random.seed(22)
num_sims = 10000
    
# Need to calculate Match probability given two teams
        
def matchup_simulator(team1, team2):
    
#     # Get team numbers for dictionary reference
    team1_number = get_key(team1)
    team2_number = get_key(team2)
    
    # Get Squad Percentages
    S1_percent = squad_strength_dict[team1_number]['% of Points Taken']
    S2_percent = squad_strength_dict[team2_number]['% of Points Taken']
    
    # Calculating Probability that S1 wins given the two squad percentages S2_prob = 1 - S1_prob
    
    S1_prob = ((S1_percent - (S1_percent*S2_percent)) / (S1_percent + S2_percent - (2 * S1_percent * S2_percent)))
    
    # Simulating match num_sims times, returns an array of 0 and 1, 1 = squad one wins
    
    match_results = np.random.binomial(n=1, p = S1_prob, size = num_sims)
    
    # Wins per num_sims
    
    S1_win_percent = np.mean(match_results)
    
    print(f"{team1} Wins{S1_win_percent: .2%} of the time against {team2} across {num_sims} simulations.")

In [ ]:
matchup_simulator('United States', 'Tunisia')

In [ ]:
S1_win_percent

In [ ]:
np.random.binomial(n=1, p = S1_prob, size = num_sims)

In [ ]:
squad_strength_dict[team1_number]

In [ ]:
# Get team numbers for dictionary reference
team1_number = get_key(team1)
team2_number = get_key(team2)
    
    # Get Squad Percentages
S1_percent = squad_strength_dict[team1_number]
S2_percent = squad_strength_dict[team2_number]
    
    # Calculating Probability that S1 wins given the two squad percentages S2_prob = 1 - S1_prob
    
S1_prob = ((S1_percent - (S1_percent*S2_percent)) / (S1_percent + S2_percent - (2 * S1_percent * S2_percent)))
    
# Simulating match num_sims times, returns an array of 0 and 1, 1 = squad one wins
    
match_results = np.random.binomial(n=1, p = S1_prob, size = num_sims)
    
    # Wins per num_sims
    
S1_win_percent = np.mean(match_results)

In [ ]:
S1_percent = squad_strength_dict[team1_number]

In [ ]:
S1_win_percent

In [ ]:
squad_strength_dict[team1_number]['% of Points Taken']

In [ ]:
team1_number = get_key(team1)
team2_number = get_key(team2)

In [ ]:
 team1_number = get_key(team1)

In [ ]:
team1_number

In [ ]:
print(matchup_simulator('United States','England'))

In [ ]:
squad_strength_dict

In [ ]:
S1_prob

In [ ]:
match_results

In [ ]:
np.mean(match_results[0:1])

In [ ]:
points_list

In [ ]:
sum(group_dict[1]['wins'])/100000

In [ ]:
for i in range(len(world_cup_teams)):
    win_avg = sum(group_dict[i]['wins']) / 100000
    win_list.append(win_avg)

In [ ]:
world_cup_teams['Avg. Group Stage Points'] = points_list

In [ ]:
world_cup_teams['Avg. Group Stage Wins'] = win_list

In [ ]:
group_dict[0]

In [ ]:
final_group_table = world_cup_teams.sort_values(by='Avg. Group Stage Points', ascending = False)

In [ ]:
final_group_table.loc(final_group_table['Group'] == 'E'

In [ ]:
final_group_table.drop(['Date qualified', 'Key Competition', 'Key'], axis=1, inplace = True)

In [ ]:
final_group_table

In [ ]:
final_group_table.to_csv('final_group_table.csv',index=False)

In [ ]:
group_labels = ['A','B','C','D','E','F','G','H']

In [ ]:
print(f"'{groups[2]}'")

In [ ]:
with open('final_table.pickle', 'wb') as file:
    pickle.dump(final_group_table, file)

In [ ]:
group_tables = []

In [ ]:
group_tables

In [ ]:
type(group_tables)

In [ ]:
group_tables[6]

In [ ]:
group_tables[0]

In [ ]:
for i in range(len(group_labels)):
    group_table = final_group_table.loc[(final_group_table['Group'] == group_labels[i])]
    group_tables.append(group_table)

In [ ]:
win_list

In [ ]:
import pandas as pd

In [3]:
final_match_sims = pd.read_csv(r'CSVs\Predictions\all_knockout_matches.csv' , encoding ='latin-1')

In [ ]:
final_match_sims.loc([''])

In [ ]:
squad_2_teams = final_match_sims.groupby('Group')['Squad 2'].value_counts()

In [ ]:
squad_2_teams.to_csv('squad_2_teams.csv')

In [ ]:
group_dict

In [4]:
match_sim_cleaned = final_match_sims.drop(['Stage','Squad 1 Key', 'Squad 2 Key', 'S1_wins'], axis=1).copy()

In [ ]:
match_sim_cleaned.shape

In [ ]:
import numpy as np

In [5]:
 US_Matches = match_sim_cleaned.loc[(match_sim_cleaned['Squad 1'] == 'United States') | (match_sim_cleaned['Squad 2'] == 'United States')]

In [10]:
 Netherlands = match_sim_cleaned.loc[(match_sim_cleaned['Squad 1'] == 'Netherlands') | (match_sim_cleaned['Squad 2'] == 'Netherlands')]

In [11]:
Netherlands['Opponent'] = np.where(Netherlands['Squad 1'] == 'Netherlands', Netherlands['Squad 2'], Netherlands['Squad 1'])

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
US_Matches.drop(['Test'], axis=1, inplace=True)

In [12]:
Netherlands

,Match,Group,Squad 1,S1%,Squad 1 Seed,Squad 2,S2%,Squad 2 Seed,S1_Prob,Simulation,Match Winner,Opponent
0,49,R16,Netherlands,0.847293,1A,Iran,0.697030,2B,0.706891,1,Netherlands,Iran
11,52,R16,England,0.828448,1B,Netherlands,0.847293,2A,0.465342,2,Netherlands,England
16,49,R16,Netherlands,0.847293,1A,United States,0.683675,2B,0.719667,3,Netherlands,United States
24,49,R16,Netherlands,0.847293,1A,Wales,0.544210,2B,0.822915,4,Netherlands,Wales
32,49,R16,Netherlands,0.847293,1A,Iran,0.697030,2B,0.706891,5,Iran,Iran
...,...,...,...,...,...,...,...,...,...,...,...,...
1499964,63,Finals,Netherlands,0.847293,M61,Belgium,0.828474,M62,0.534612,99965,Netherlands,Belgium
1499969,63,Finals,Netherlands,0.847293,M61,England,0.828448,M62,0.534658,99970,England,England
1499978,63,Finals,Netherlands,0.847293,M61,Poland,0.639777,M62,0.757520,99979,Netherlands,Poland
1499979,63,Finals,Netherlands,0.847293,M61,South Korea,0.728385,M62,0.674164,99980,Netherlands,South Korea
1499983,63,Finals,Netherlands,0.847293,M61,France,0.780360,M62,0.609630,99984,Netherlands,France

In [ ]:
final_match_sims.groupby("Match Winner").size()

In [7]:
US_Matches

,Match,Group,Squad 1,S1%,Squad 1 Seed,Squad 2,S2%,Squad 2 Seed,S1_Prob,Simulation,Match Winner,Opponent
16,49,R16,Netherlands,0.847293,1A,United States,0.683675,2B,0.719667,3,Netherlands,Netherlands
43,52,R16,United States,0.683675,1B,Senegal,0.768105,2A,0.394860,6,United States,Senegal
104,49,R16,Netherlands,0.847293,1A,United States,0.683675,2B,0.719667,14,Netherlands,Netherlands
112,49,R16,Netherlands,0.847293,1A,United States,0.683675,2B,0.719667,15,Netherlands,Netherlands
147,52,R16,United States,0.683675,1B,Ecuador,0.503238,2A,0.680867,19,United States,Ecuador
...,...,...,...,...,...,...,...,...,...,...,...,...
1499872,63,Finals,Mexico,0.756757,M61,United States,0.683675,M62,0.590073,99873,Mexico,Mexico
1499887,63,Finals,United States,0.683675,M61,Belgium,0.828474,M62,0.309141,99888,United States,Belgium
1499936,63,Finals,United States,0.683675,M61,Cameroon,0.715298,M62,0.462435,99937,United States,Cameroon
1499977,63,Finals,United States,0.683675,M61,Argentina,0.713177,M62,0.465020,99978,Argentina,Argentina
1499990,63,Finals,United States,0.683675,M61,Portugal,0.787343,M62,0.368590,99991,United States,Portugal

In [8]:
US_Opponent_Frequency = US_Matches.groupby('Group')['Opponent'].value_counts()

In [ ]:
Netherlands_Opponent_Frequency = US_Matches.groupby('Group')['Opponent'].value_counts()

In [9]:
US_Opponent_Frequency

Group        Opponent
Finals       England           369
             Belgium           237
             Netherlands       235
             Germany           185
             Spain             169
             Brazil            166
             Portugal          148
             France            135
             Senegal           105
             Morocco           103
             Denmark            94
             Mexico             79
             South Korea        56
             Argentina          51
             Cameroon           40
             Iran               29
             Switzerland        25
             Australia          24
             Croatia            17
             Serbia             15
             Poland             14
             Saudi Arabia       14
             Tunisia            13
             Qatar               9
             Ecuador             5
             Japan               5
             Canada              4
             Uruguay             4
             Wales               2
             Costa Rica          1
R16          Netherlands     21584
             Senegal         12675
             Qatar            3486
             Ecuador          1675
R8           Mexico           3203
             Denmark          2953
             France           2764
             Argentina        1985
             Australia        1188
             Tunisia           977
             Poland            837
             Saudi Arabia      661
Semi-Finals  Spain            1065
             Brazil           1032
             Germany           855
             Belgium           733
             Portugal          593
             Morocco           588
             South Korea       462
             Cameroon          324
             Switzerland       173
             Croatia           162
             Serbia            127
             Canada             82
             Uruguay            51
             Japan              37
             Ghana              21
             Costa Rica         20
Name: Opponent, dtype: int64

In [ ]:
US_Matches['Opponent'].value_counts()

In [ ]:
US_Matches['Opponent'].value_counts(ascending=False)

In [ ]:
final_results = pd.read_csv('CSVs/final_results.csv')

In [ ]:
import json

In [ ]:
squad_strength_json = squad_predictions.to_json(orient="index")

In [ ]:
parsed = json.loads(squad_strength_json)

In [ ]:
final = json.dumps(parsed)

In [ ]:
with open("squad_strength.json","w") as outfile:
    outfile.write(final)