In [1]:
import pickle

In [2]:
import pandas as pd

In [3]:
with open('group_results.pickle', 'rb') as file:
    group_dict = pickle.load(file)

In [ ]:
group_dict = new_list

In [4]:
world_cup_teams = pd.read_csv(r'CSVs\World_Cup_Teams.csv', encoding='latin-1')

In [5]:
win_list = []

In [6]:
points_list = []

In [7]:
for i in range(len(world_cup_teams)):
    points_avg = sum(group_dict[i]['points']) / 100000
    points_list.append(points_avg)

In [ ]:
points_list

In [ ]:
sum(group_dict[1]['wins'])/100000

In [8]:
for i in range(len(world_cup_teams)):
    win_avg = sum(group_dict[i]['wins']) / 100000
    win_list.append(win_avg)

In [9]:
world_cup_teams['Avg. Group Stage Points'] = points_list

In [10]:
world_cup_teams['Avg. Group Stage Wins'] = win_list

In [ ]:
group_dict[0]

In [11]:
final_group_table = world_cup_teams.sort_values(by='Avg. Group Stage Points', ascending = False)

In [12]:
final_group_table

,Squad,Association,Date qualified,Key Competition,Key,Group,Avg. Group Stage Points,Avg. Group Stage Wins
19,Germany,UEFA,11-Oct-21,2021 UEFA Euros,2021-UEFA Euros-Germany,E,6.15423,2.05141
20,Denmark,UEFA,12-Oct-21,2021 UEFA Euros,2021-UEFA Euros-Denmark,D,5.91699,1.97233
10,Morocco,CAF,29-Mar-22,2021 Africa Cup of Nations,2019-Africa Cup of Nations-Morocco,F,5.58414,1.86138
13,United States,CONCACAF,30-Mar-22,2021 Gold Cup,2021-Gold Cup-United States,B,5.56938,1.85646
12,Mexico,CONCACAF,30-Mar-22,2021 Gold Cup,2021-Gold Cup-Mexico,C,5.54553,1.84851
29,Portugal,UEFA,29-Mar-22,2021 UEFA Euros,2021-UEFA Euros-Portugal,H,5.53044,1.84348
25,Serbia,UEFA,14-Nov-21,2021 UEFA Euro Qualifiers,2021-UEFA Euro Qualifiers-Serbia,G,5.41683,1.80561
1,Iran,AFC,27-Jan-22,2019 AFC Asian Cup,2019-AFC Asian Cup-Iran,B,5.33892,1.77964
28,Netherlands,UEFA,16-Nov-21,2021 UEFA Euros,2021-UEFA Euros-Netherlands,A,5.22003,1.74001
7,Senegal,CAF,29-Mar-22,2021 Africa Cup of Nations,2021-Africa Cup of Nations-Senegal,A,4.97607,1.65869
4,Saudi Arabia,AFC,24-Mar-22,2019 AFC Asian Cup,2019-AFC Asian Cup-Saudi Arabia,C,4.94643,1.64881
27,Switzerland,UEFA,15-Nov-21,2021 UEFA Euros,2021-UEFA Euros-Switzerland,G,4.55559,1.51853
15,Brazil,CONMEBOL,11-Nov-21,2021 Copa America,2021-Copa America-Brazil,G,4.41363,1.47121
6,Ghana,CAF,29-Mar-22,2021 Africa Cup of Nations,2021-Africa Cup of Nations-Ghana,H,4.38579,1.46193
21,Belgium,UEFA,13-Nov-21,2021 UEFA Euros,2021-UEFA Euros-Belgium,F,4.37073,1.45691
11,Canada,CONCACAF,27-Mar-22,2021 Gold Cup,2021-Gold Cup-Canada,F,4.35552,1.45184
24,Spain,UEFA,14-Nov-21,2021 UEFA Euros,2021-UEFA Euros-Spain,E,4.23060,1.41020
2,South Korea,AFC,1-Feb-22,2019 AFC Asian Cup,2019-AFC Asian Cup-South Korea,H,4.20561,1.40187
17,Ecuador,CONMEBOL,24-Mar-22,2021 Copa America,2021-Copa America-Ecuador,A,4.13559,1.37853
26,England,UEFA,15-Nov-21,2021 UEFA Euros,2021-UEFA Euros-England,B,4.12044,1.37348
22,France,UEFA,13-Nov-21,2021 UEFA Euros,2021-UEFA Euros-France,D,4.11081,1.37027
5,Australia,AFC,13-Jun-22,2019 AFC Asian Cup,2019-AFC Asian Cup-Australia,D,4.08315,1.36105
14,Costa Rica,CONCACAF,14-Jun-22,2021 Gold Cup,2021-Gold Cup-Costa Rica,E,3.94386,1.31462
16,Argentina,CONMEBOL,16-Nov-21,2021 Copa America,2021-Copa America-Argentina,C,3.90618,1.30206
8,Tunisia,CAF,29-Mar-22,2021 Africa Cup of Nations,2021-Africa Cup of Nations-Tunisia,D,3.88905,1.29635
18,Uruguay,CONMEBOL,24-Mar-22,2021 Copa America,2021-Copa America-Uruguay,H,3.87816,1.29272
23,Croatia,UEFA,14-Nov-21,2021 UEFA Euros,2021-UEFA Euros-Croatia,F,3.68961,1.22987
3,Japan,AFC,24-Mar-22,2019 AFC Asian Cup,2019-AFC Asian Cup-Japan,E,3.67131,1.22377
0,Qatar,AFC,2-Dec-10,2021 Gold Cup,2021-Gold Cup-Qatar,A,3.66831,1.22277
9,Cameroon,CAF,29-Mar-22,2021 Africa Cup of Nations,2021-Africa Cup of Nations-Cameroon,G,3.61395,1.20465
30,Poland,UEFA,29-Mar-22,2021 UEFA Euros,2021-UEFA Euros-Poland,C,3.60186,1.20062
31,Wales,UEFA,5-Jun-22,2021 UEFA Euros,2021-UEFA Euros-Wales,B,2.97126,0.99042

In [13]:
final_group_table.drop(['Date qualified', 'Key Competition', 'Key'], axis=1, inplace = True)

In [14]:
final_group_table

,Squad,Association,Group,Avg. Group Stage Points,Avg. Group Stage Wins
19,Germany,UEFA,E,6.15423,2.05141
20,Denmark,UEFA,D,5.91699,1.97233
10,Morocco,CAF,F,5.58414,1.86138
13,United States,CONCACAF,B,5.56938,1.85646
12,Mexico,CONCACAF,C,5.54553,1.84851
29,Portugal,UEFA,H,5.53044,1.84348
25,Serbia,UEFA,G,5.41683,1.80561
1,Iran,AFC,B,5.33892,1.77964
28,Netherlands,UEFA,A,5.22003,1.74001
7,Senegal,CAF,A,4.97607,1.65869
4,Saudi Arabia,AFC,C,4.94643,1.64881
27,Switzerland,UEFA,G,4.55559,1.51853
15,Brazil,CONMEBOL,G,4.41363,1.47121
6,Ghana,CAF,H,4.38579,1.46193
21,Belgium,UEFA,F,4.37073,1.45691
11,Canada,CONCACAF,F,4.35552,1.45184
24,Spain,UEFA,E,4.23060,1.41020
2,South Korea,AFC,H,4.20561,1.40187
17,Ecuador,CONMEBOL,A,4.13559,1.37853
26,England,UEFA,B,4.12044,1.37348
22,France,UEFA,D,4.11081,1.37027
5,Australia,AFC,D,4.08315,1.36105
14,Costa Rica,CONCACAF,E,3.94386,1.31462
16,Argentina,CONMEBOL,C,3.90618,1.30206
8,Tunisia,CAF,D,3.88905,1.29635
18,Uruguay,CONMEBOL,H,3.87816,1.29272
23,Croatia,UEFA,F,3.68961,1.22987
3,Japan,AFC,E,3.67131,1.22377
0,Qatar,AFC,A,3.66831,1.22277
9,Cameroon,CAF,G,3.61395,1.20465
30,Poland,UEFA,C,3.60186,1.20062
31,Wales,UEFA,B,2.97126,0.99042

In [15]:
group_labels = ['A','B','C','D','E','F','G','H']

In [ ]:
print(f"'{groups[2]}'")

In [16]:
group_tables = []

In [ ]:
group_tables[6]

In [17]:
for i in range(len(group_labels)):
    group_table = final_group_table.loc[(final_group_table['Group'] == group_labels[i])]
    group_tables.append(group_table)

In [ ]:
win_list

In [18]:
import pandas as pd

In [19]:
final_match_sims = pd.read_csv(r'CSVs\Predictions\all_knockout_matches.csv' , encoding ='latin-1')

In [ ]:
final_match_sims.loc([''])

In [ ]:
final_match_sims

In [ ]:
group_dict

In [20]:
match_sim_cleaned = final_match_sims.drop(['Stage','Squad 1 Key', 'Squad 2 Key', 'S1_wins'], axis=1).copy()

In [21]:
match_sim_cleaned.shape

(1499998, 11)

In [26]:
import numpy as np

In [23]:
 US_Matches = match_sim_cleaned.loc[(match_sim_cleaned['Squad 1'] == 'United States') | (match_sim_cleaned['Squad 2'] == 'United States')]

In [34]:
US_Matches['Opponent'] = np.where(US_Matches['Squad 1'] == 'United States', US_Matches['Squad 2'], US_Matches['Squad 1'])

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [36]:
US_Matches.drop(['Test'], axis=1, inplace=True)

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [39]:
US_Matches

,Match,Group,Squad 1,S1%,Squad 1 Seed,Squad 2,S2%,Squad 2 Seed,S1_Prob,Simulation,Match Winner,Opponent
0,49,R16,Netherlands,0.865497,1A,United States,0.685027,2B,0.747391,1,Netherlands,Netherlands
11,52,R16,United States,0.685027,1B,Ecuador,0.569166,2A,0.622112,2,United States,Ecuador
27,52,R16,United States,0.685027,1B,Senegal,0.760405,2A,0.406626,4,United States,Senegal
35,52,R16,United States,0.685027,1B,Qatar,0.551194,2A,0.639103,5,United States,Qatar
51,52,R16,United States,0.685027,1B,Senegal,0.760405,2A,0.406626,7,Senegal,Senegal
...,...,...,...,...,...,...,...,...,...,...,...,...
1499945,63,Finals,Portugal,0.802992,M61,United States,0.685027,M62,0.652065,99948,United States,Portugal
1499951,63,Finals,United States,0.685027,M61,Belgium,0.846234,M62,0.283251,99954,Belgium,Belgium
1499959,63,Finals,Morocco,0.777304,M61,United States,0.685027,M62,0.616106,99962,Morocco,Morocco
1499977,63,Finals,Netherlands,0.865497,M61,United States,0.685027,M62,0.747391,99980,Netherlands,Netherlands
1499981,63,Finals,Senegal,0.760405,M61,United States,0.685027,M62,0.593374,99984,Senegal,Senegal

In [48]:
US_Matches.groupby('Group').value_counts()

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [49]:
US_Matches

,Match,Group,Squad 1,S1%,Squad 1 Seed,Squad 2,S2%,Squad 2 Seed,S1_Prob,Simulation,Match Winner,Opponent
0,49,R16,Netherlands,0.865497,1A,United States,0.685027,2B,0.747391,1,Netherlands,Netherlands
11,52,R16,United States,0.685027,1B,Ecuador,0.569166,2A,0.622112,2,United States,Ecuador
27,52,R16,United States,0.685027,1B,Senegal,0.760405,2A,0.406626,4,United States,Senegal
35,52,R16,United States,0.685027,1B,Qatar,0.551194,2A,0.639103,5,United States,Qatar
51,52,R16,United States,0.685027,1B,Senegal,0.760405,2A,0.406626,7,Senegal,Senegal
...,...,...,...,...,...,...,...,...,...,...,...,...
1499945,63,Finals,Portugal,0.802992,M61,United States,0.685027,M62,0.652065,99948,United States,Portugal
1499951,63,Finals,United States,0.685027,M61,Belgium,0.846234,M62,0.283251,99954,Belgium,Belgium
1499959,63,Finals,Morocco,0.777304,M61,United States,0.685027,M62,0.616106,99962,Morocco,Morocco
1499977,63,Finals,Netherlands,0.865497,M61,United States,0.685027,M62,0.747391,99980,Netherlands,Netherlands
1499981,63,Finals,Senegal,0.760405,M61,United States,0.685027,M62,0.593374,99984,Senegal,Senegal

In [63]:
US_Opponent_Frequency = US_Matches.groupby('Group')['Opponent'].value_counts()

In [64]:
US_Opponent_Frequency

Group        Opponent
Finals       Netherlands       595
             Germany           495
             Denmark           353
             Brazil            309
             Portugal          306
             Belgium           296
             Morocco           276
             Iran              268
             England           233
             Senegal           192
             Spain             181
             Serbia            142
             Mexico            136
             France            126
             Cameroon          100
             Argentina          94
             Saudi Arabia       93
             South Korea        80
             Switzerland        61
             Croatia            48
             Tunisia            44
             Australia          28
             Japan              26
             Canada             25
             Costa Rica         22
             Poland             22
             Ecuador            20
             Uruguay            15
             Qatar              11
             Wales               8
             Ghana               7
R16          Netherlands     22420
             Senegal         20056
             Ecuador         10953
             Qatar            8460
R8           Denmark          6899
             Mexico           5096
             France           3499
             Saudi Arabia     3237
             Argentina        2597
             Tunisia          1826
             Australia        1695
             Poland           1213
Semi-Finals  Germany          2039
             Portugal         1414
             Belgium          1369
             Morocco          1309
             Brazil           1288
             Spain             994
             Serbia            881
             Cameroon          509
             South Korea       491
             Switzerland       378
             Croatia           322
             Canada            297
             Costa Rica        208
             Japan             196
             Ghana             126
             Uruguay           109
Name: Opponent, dtype: int64

In [55]:
US_Matches['Opponent'].value_counts()

Netherlands     23015
Senegal         20248
Ecuador         10973
Qatar            8471
Denmark          7252
Mexico           5232
France           3625
Saudi Arabia     3330
Argentina        2691
Germany          2534
Tunisia          1870
Australia        1723
Portugal         1720
Belgium          1665
Brazil           1597
Morocco          1585
Poland           1235
Spain            1175
Serbia           1023
Cameroon          609
South Korea       571
Switzerland       439
Croatia           370
Canada            322
Iran              268
England           233
Costa Rica        230
Japan             222
Ghana             133
Uruguay           124
Wales               8
Name: Opponent, dtype: int64

In [47]:
US_Matches['Opponent'].value_counts(ascending=False)

Netherlands     23015
Senegal         20248
Ecuador         10973
Qatar            8471
Denmark          7252
Mexico           5232
France           3625
Saudi Arabia     3330
Argentina        2691
Germany          2534
Tunisia          1870
Australia        1723
Portugal         1720
Belgium          1665
Brazil           1597
Morocco          1585
Poland           1235
Spain            1175
Serbia           1023
Cameroon          609
South Korea       571
Switzerland       439
Croatia           370
Canada            322
Iran              268
England           233
Costa Rica        230
Japan             222
Ghana             133
Uruguay           124
Wales               8
Name: Opponent, dtype: int64

In [ ]:
US_Matches.pivot()